$discriptionFont: "Almendra-Regular",
sans-serif;
$wrapMargin: 0 auto;

* {
    box-sizing: border-box;
}

$max-img-width: 1601px;
$max-img-height: 900px;

img {
    max-width: 100%;
    vertical-align: top;
}



@mixin h1Style {
    margin-top: 126px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #3d3a3a;
    margin-bottom: 15px;
}

@mixin h1StyleTablet {
    font-size: 80px;
    line-height: 80px;
}

@mixin h1StyleWeb {
    font-size: 100px;
    line-height: 100px;
}


@mixin title {
    font-family: 'Girassol-Regular', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #3D3A3A;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@mixin titleTablet {
    font-family: 'Girassol-Regular', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    color: #3D3A3A;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@mixin titleWeb {
    font-family: 'Girassol-Regular', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;
    color: #3D3A3A;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@mixin footeTitle {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin footeTitleTablet {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin footeTitleWeb {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}


@mixin linksStyle {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

@mixin linksStyleTablet {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

@mixin discriptionStyle {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 25px;
    color: black;
}

@mixin discriptionStyleTablet {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
    color: black;
}

@mixin discriptionStyleWeb {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 25px;
    color: black;
}

@mixin link-btn {
    background: url("../img/btn.png") 50% no-repeat;
    border: none;
    font-family: $discriptionFont;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding: 23px 10px 23px 10px;
    text-align: center;
}

@mixin btn() {
    position: relative;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 50%, rgba(161, 57, 240, 1) 50%, rgba(220, 52, 245, 1) 75%, rgba(161, 57, 240, 1) 100%);
    background-size: 100% 200%;
    background-position: 0% 100%;
    color: #fff;
    transition: 400ms;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, .04);

    &:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, .04);
    }
}

@mixin btnIconDef() {
    position: absolute;
    width: 2rem;
    height: .23rem;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    transition: 400ms;
}

body {
    font-family: "Girassol-Regular", sans-serif;
    font-weight: 400;
    background: url("../img/texture-background.png") 50% / cover no-repeat;
    z-index: 2;


}



.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-top: 15px;
    margin-left: 15px;

    .web-links {
        display: none;
    }

    .logo {
        width: 33%;
        margin-bottom: 16px;
    }

    .header-push {
        text-align: center;
        width: 33%;
        display: none;
    }

    .burger {
        position: relative;
        width: 33%;

    }

    .main-app {
        position: absolute;
        right: 35%;
        top: -50%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-btn {
        @include btn();
        transform: rotate(0deg);
        opacity: 1;
    }

    .custom-menu-toggle {
        @include btnIconDef();

        &:before {
            @include btnIconDef();
            content: '';
            backface-visibility: hidden;
            transform: rotate(0deg) translateY(10px);
        }

    }

    .main-btn.active .custom-menu-toggle {
        background-color: rgba(255, 255, 255, 0);

        &:before {
            @include btnIconDef();
            content: '';
            transform: rotate(45deg) translateY(0px);
        }

        &:after {
            @include btnIconDef();
            content: '';
            transform: rotate(-45deg) translateY(0px);
        }
    }
}

.navigation-links {
    display: none;

    a {
        @include linksStyle();
        padding: 30px 30px;
    }

    ul {
        position: absolute;
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-evenly;
    }
}

.main_info {
    display: flex;
    flex-direction: column;
    background: url(../img/headerBackground.png) 20% 0/ 250% no-repeat;

    h1 {
        @include h1Style();
    }

    h3 {
        font-family: $discriptionFont;
        @include discriptionStyle();
    }

    a {
        @include link-btn;
        margin-bottom: 249px;
    }

    a:hover {
        background: url('../img/hover-btn.svg') 50% no-repeat;
        ;
    }
}

.wraper {
    padding: 0 16px;
}

section {
    display: flex;
    flex-direction: column;

    h2 {
        @include title();
    }

    h3 {
        font-family: $discriptionFont;
        @include discriptionStyle();
    }

    .games_container {
        display: flex;
        margin: 0 -8px;
        justify-content: center;

    }

    .right-part {
        margin-bottom: 150px;
    }

    .game_card {
        cursor: pointer;
        background-color: rgb(255 255 255 / 15%);
        display: flex;
        flex-direction: column;
        border: 1px solid #000000;
        width: 160px;
        font-family: $discriptionFont;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        border: 1px solid #b7b7b7;
        margin: 15px 8px 0;

        .card_number {
            margin-left: 15px;
            margin-top: 15px;
        }

        .card_picture {
            padding-left: 20px;
            padding-right: 20px;
            align-self: center;
            margin-bottom: 14px;
        }

        .card_bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 15px;
            margin-bottom: 12px;
        }
    }

    .game_card:hover {
        background: rgba(0, 0, 0, 0.1);
    }

}


.games {
    margin-bottom: 155px;

    .games_options_container {
        border-top: 1px solid #000000;

        .game-components {
            margin-bottom: 35px;
        }

        .top {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            padding: 15px 0;

            .number {
                margin-right: 10px;
            }

            .logo {
                margin-right: 10px;

                img {
                    height: 48px;
                }
            }

            .arrow {
                margin-left: auto;
                transform: rotate(80deg);

                img {
                    height: 29px;

                }
            }

            .rotate {
                transform: rotate(0deg);
            }
        }

        .top:hover {
            cursor: pointer;
            background: url('../img/DloV_07_1200x628_\ \(7\)2.png');

        }

        .game {
            display: none;

            .gallery {
                display: flex;
                flex-direction: row;
                margin: 10px auto;
                max-width: $max-img-width;
                position: relative;
                padding-top: $max-img-height/$max-img-width * 100%;

                @media screen and (min-width: $max-img-width) {
                    padding-top: $max-img-height;
                }

                &__img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 1;
                    transition: opacity 0.3s ease-in-out;
                }

                &__thumb {
                    padding-top: 6px;
                    margin: 6px;
                    display: block;
                }

                &__selector {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;

                    &:checked {
                        +.gallery__img {
                            width: 100%;
                            opacity: 1;
                        }

                        ~.gallery__thumb>img {
                            box-shadow: 0 0 0 1px black;
                            ;
                        }
                    }
                }


            }
        }


        .game_rules {
            display: flex;
            justify-content: space-between;
            @include discriptionStyle();
            text-transform: uppercase;

            div {
                text-align: center;
                border-right: 1px solid #000000;
                width: 33%;
                padding: 5px 0 5px 0;
            }

            div:first-child {
                border-left: 1px solid #000000;
            }


        }

        a {
            display: block;
            @include link-btn();
        }

        .is-active {
            display: block;

        }

        .about-game {
            font-family: "Almendra-Regular", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 25px;
            color: black;
        }
    }

    .games_options_container:last-child {
        border-bottom: 1px solid #000000;

    }
}




.is-active {
    display: block;

    .top {
        border-bottom: unset;
    }
}




.game_deusLoVult {
    margin-bottom: 169px;

    h2 {
        @include title();
    }

    .logo_deusLoVult {
        width: 50%;
        margin-bottom: 25px;
    }

    .about_deusLoVult {
        @include discriptionStyle();
        font-family: $discriptionFont;
    }

    .image_deusLoVolt {

        img {
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.recomended {
    margin-bottom: 50px;

    h2 {
        @include title();
        margin-bottom: 25px;
    }

    .games_card_container {
        margin-bottom: 190px;

        a {
            text-decoration: none;
            color: black
        }

        .game_card {
            background-color: rgb(255 255 255 / 15%);
            display: flex;
            flex-direction: column;
            border: 1px solid #000000;
            font-family: $discriptionFont;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            border: 1px solid #b7b7b7;
            margin: 15px 8px 0;
            width: 164px;

            .card_number {
                margin-left: 15px;
                margin-top: 15px;
            }

            .card_picture {
                padding-left: 20px;
                padding-right: 20px;
                align-self: center;
                margin-bottom: 14px;
            }

            .card_bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 15px;
                margin-bottom: 12px;
            }
        }

        .game_card:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        .slick-next {
            right: 10px;
        }

        .slick-next::before,
        .slick-prev::before {
            background: url('../img/arrow-slider.png') 50% no-repeat;
            background-size: 30px;
            color: unset;
            font-size: 30px;
        }

        .slick-prev {
            transform: rotate(-180deg);
            left: 15px;
        }

        .slick-next,
        .slick-prev {
            top: unset;
            bottom: -80px;
        }
    }
}

.footer {

    .info-container,
    .social-media-contacts {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #000000;
        margin-bottom: 35px;

        .info-box,
        .social-mdeia,
        .contacts {
            width: 50%;
            margin-bottom: 35px;

            h3 {
                @include footeTitle();
                margin-bottom: 15px;
            }

            a {
                @include linksStyle();
            }
        }

    }

    ;

    .about-website {
        padding-bottom: 15px;

        h3 {
            @include footeTitle();
            text-transform: unset;
            margin-bottom: 15px;
        }

        p {
            @include linksStyle();

        }

        a {
            text-decoration: none;
            color: black;
        }
    }
}



@media (min-width: 767px) {

    .wraper {
        padding: 0 35px;
    }

    h3 {
        width: 50%;
    }

    .navigation {
        padding: 15px 0 15px 0;
        margin-left: 35px;
        align-items: center;

        .header-push {
            @include footeTitle();
        }

        .logo {
            margin-bottom: unset;

            img {
                width: 60%;

            }
        }

        .header-push {
            display: block;
        }

        .main-app {
            position: absolute;
            right: 25%;
            top: -10px;
        }



    }

    .navigation-links {
        a {
            padding: 30px 80px;
        }
    }

    .main_info {
        display: flex;
        flex-direction: column;
        background: url(../img/headerBackground.png) 20% 35%/200% no-repeat;

        padding-bottom: 102px;

        h1 {
            margin-top: 282px;
            @include h1StyleTablet();
            width: 80%;
        }

        h3,
        a {

            width: 50%;
        }

        h3 {
            @include discriptionStyleTablet();
        }
    }

    section {
        h2 {
            @include titleTablet()
        }

        h3 {
            @include discriptionStyleTablet();
        }

        .games_container {

            .right-part {
                margin-bottom: 200px;
            }

            .game_card {
                width: 335px;

                .card_number {
                    margin-left: 25px;
                    margin-top: 25px;
                    margin-bottom: 19px;
                }

                .card_number,
                .card_bottom {
                    font-size: 20px;
                }

                img {
                    height: 100%;
                }

                .card_picture {
                    margin-bottom: 39px;
                }

                .card_bottom {
                    margin: 0 25px;
                    margin-bottom: 25px;

                }
            }
        }
    }


    .games {
        .games_options_container {

            .game-components {
                margin-bottom: 55px;
            }

            .top {


                .logo {
                    margin-right: 125px;

                    img {
                        height: 100px;
                    }
                }

                .number,
                .game_name {
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 42px;
                }

                .number {
                    margin-right: 75px;
                }

                .arrow {
                    img {
                        height: 32px;
                    }

                }

                .game-about {
                    display: none;
                }
            }

            .game {

                a {
                    width: 335px;
                }

                .gallery {
                    margin-bottom: 40px;
                }
            }

            .game_rules {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
            }



            .about-game {
                font-size: 16px;
                line-height: 21px;

                p {
                    margin-bottom: 20px;
                }
            }

        }

    }

    .game_deusLoVult,
    .recomended {
        h2 {
            @include titleTablet()
        }
    }

    .recomended {
        .games_card_container {
            margin-bottom: 250px;

            .game_card {

                width: 335px;


                .card_number {
                    margin-left: 25px;
                    margin-top: 25px;
                    margin-bottom: 19px;
                }

                .card_number,
                .card_bottom {
                    font-size: 20px;
                }

                img {
                    height: 279px;
                }

                .card_picture {
                    margin-bottom: 39px;
                }

                .card_bottom {
                    margin: 0 25px;
                    margin-bottom: 25px;

                }
            }



            .slick-next::before,
            .slick-prev::before {
                background-size: 40px;
                font-size: 40px;
            }

        }
    }


    .game_deusLoVult {

        .about_deusLoVult {
            font-size: 16px;
            line-height: 21px;
        }
    }

    .footer {
        .info-container {

            .info-box {
                h3 {
                    @include footeTitleTablet();
                }

                a {
                    @include linksStyleTablet();
                }
            }
        }

        .social-media-contacts {

            .social-mdeia {
                a {
                    @include linksStyleTablet();
                }
            }

            .contacts {
                a {
                    @include linksStyleTablet();
                }
            }
        }

        .about-website {
            h3 {
                @include footeTitleTablet();
                text-transform: none;
            }

            p {
                @include linksStyleTablet();
            }
        }
    }
}


@media (min-width: 1079px) {

    .wraper {
        padding: 0 100px;
    }

    .navigation {
        margin-left: 100px;
        align-items: center;
        padding: 14px 0 14px 0;

        .logo {
            margin-bottom: unset;
        }

        .burger {
            display: none;
        }

        .web-links {
            display: block;

            ul {
                display: flex;

                a {
                    font-family: "Open-Sans", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    padding: 0 16px 0 16px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 100%;
                    text-transform: uppercase;
                    text-decoration: unset;
                    color: black;
                }
            }
        }



        .burger:before {
            right: 100px;
            top: 25px;
        }
    }

    .main_info {
        background: url(../img/headerBackground.png) 50% 50%/cover no-repeat;
        padding-bottom: 110px;
        margin-bottom: 110px;

        h1 {
            @include h1StyleWeb();
            width: 50%;
            margin-bottom: 30px;

        }

        h3 {
            width: 45%;
            margin-bottom: 38px;
        }

        a {
            width: 25%;
        }
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 250px;

        h2 {
            @include titleWeb();
        }

        h3 {
            margin-bottom: 70px;
        }


        .left-part,
        .right-part {
            width: 49.5%;
        }
    }

    .games {
        .games_options_container {
            .top {
                .game-about {
                    display: block;
                    font-family: "'Almendra-Regular'";
                    text-transform: none;
                    font-size: 16px;
                    line-height: 21px;
                    width: 40%;
                }

                .game_name {
                    margin-right: auto;
                }
            }
        }
    }



    .game_deusLoVult {
        display: flex;

        .left-part {
            width: 30%;

            .logo_deusLoVult {
                width: unset;
            }

            img {
                width: 90%;
            }
        }

        .right-part {
            width: 70%;

            .about_deusLoVult {
                width: 70%;
            }
        }
    }

    .recomended {
        .games_card_container {
            .game_card {
                width: 335px;
            }

            .slick-next:hover,
            .slick-prev:hover {
                transform: scale(1.2);
                transition: 0.2s;
            }

            .slick-prev:hover {
                transform: rotate(-180deg) scale(1.2);
            }
        }
    }


    .footer {
        display: flex;
        flex-wrap: wrap;

        .info-container {
            width: 100%;

            .info-box {
                width: 25%;
            }
        }

        .social-media-contacts {
            width: 75%;
            border-bottom: none;

            .social-mdeia {
                width: 33%;
            }

            .contacts {
                width: 50%;
            }
        }

        .social-mdeia {
            width: 33%;
        }

        .about-website {
            width: 25%;
        }


    }


}

@media (min-width: 1600px) {

    header {
        margin: 0 auto;
        max-width: 1600px;
    }

    .wraper {
        margin: 0 auto;
        max-width: 1600px;
    }

}