@font-face {
    font-family: 'Girassol-Regular';
    src: url('../fonts/Girassol-Regular.woff2'),
        url('../fonts/Girassol-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra-Regular';
    src: url('../fonts/Almendra-Regular.woff'),
        url('../fonts/Almendra-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Regular.woff'),
        url('../fonts/OpenSans-VariableFont_wdth,wght.woff2');
    font-weight: 400;
    font-style: normal;
}